=simple_form_for [:admin, post] do |f|
  =f.input :title
  =f.input :published_at, input_html: { data: { behaviour: :datepicker } }
  =f.input :category_id, collection: Category.all
  =f.input :lead, as: :text
  =f.input :body, as: :bootsy
  =f.input :tags, input_html: { value: f.object.tags.join(', ') }
  =f.submit class: %i(btn btn-default)
  -if post.persisted?
    or
    =render @post.operations(:admin), post: post
