=link_to 'show', [post], class: %i(btn btn-default)
=link_to 'edit', [:edit, :admin, post], class: %i(btn btn-default) if can? :edit, post
=link_to 'destroy', [:admin, post], class: %i(btn btn-danger), method: :delete, data: { confirm: 'Are U sure?' } if can? :destroy, post
