=link_to 'add post' ,[:new, :admin, :post], class: %i(btn btn-default)
-if @posts.any?
  %table.table
    %thead
      %tr
        %th title
        %th
        %th published at
        %th author
        %th category
    %tbody
      = render collection: @posts, partial: 'table_row', as: :post

