%li=link_to icon(:gears, 'administracja'), admin_root_path if can? :show, Admin
-if user_signed_in?
  %li=link_to icon(:'sign-out', 'wyloguj'), destroy_user_session_path, method: :delete
-else
  %li=link_to icon(:'sign-in', 'zaloguj'), new_user_session_path
