%li=link_to icon(:gears, 'administration'), admin_root_path if can? :show, Admin
-if user_signed_in?
  %li=link_to icon(:'sign-out', 'sign out'), destroy_user_session_path, method: :delete
-else
  %li=link_to icon(:'sign-in', 'sign in'), new_user_session_path
