=link_to 'show', [category], class: %i(btn btn-default)
=link_to 'edit', [:edit, :admin, category], class: %i(btn btn-default) if can? :edit, category
=link_to 'destroy', [:admin, category], class: %i(btn btn-danger), method: :delete, data: { confirm: 'Are U sure?' } if can? :destroy, category
