=link_to 'add user' ,[:new, :admin, :user], class: %i(btn btn-default)
-if @users.any?
  %table.table
    %thead
      %tr
        %th id
        %th
        %th email
        %th first name
        %th last name
    %tbody
      = render collection: @users, partial: 'table_row', as: :user
=paginate @users
